<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>You can add your blogs.</p>
    <p>Share your content and experience.</p>
    <p>Tell about topics that interest you.</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>